{{#each this}}
<div class="wrapper">
    <h2 class="card-title">{{name}}</h2>
    <div class="container">
        <div class="col-md-6 col-lg-5">
            <p><strong>Capital: </strong>{{capital}}</p>
            <p><strong>Population: </strong>{{population}}</p>
            <div>
                <ul>
                    {{#each languages}}
                    <li>{{this.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-lg-7">
            <img src="{{flag}}" alt="Flag of {{name}}" width="300px">
        </div>
    </div>
</div>
{{/each}}